section
    ul
        li.fragment Sesão de apresentação dos links beacons
        li.fragment Apresentação
        li.fragment Introdução da palestra
        li.fragment Testnet3
        li.fragment Formas para gerar endereços de recebimento
        li.fragment Explorando o Blockchain
        li.fragment API's Bitcoin/Blockchain
        li.fragment Bitcoin URIs
        li.fragment Altcoins
        li.fragment
        li.fragment
        li.fragment
        li.fragment