section
    section
        h1 URI's e QRCodes
    section(data-notes='Identificador Uniforme de Recurso:Uniform Resource Identifier')
        h2 URI scheme
        p O objetivo do esquema URI é permitir que os usuários façam pagamentos facilmente clicando em links em páginas da web ou digitalizando códigos QR.
    section
        h2 URI scheme
        pre.fragment
            | bitcoin:[address][?amount=][?label=][?message=]
        pre.fragment
            | bitcoin:175tWpb8K1S7NmH4Zx6rewF9WQrcZv245W
        pre.fragment
            | bitcoin:175tWpb8K1S7NmH4Zx6rewF9WQrcZv245W?label=Luke-Jr
        pre.fragment
            | bitcoin:175tWpb8K1S7NmH4Zx6rewF9WQrcZv245W?amount=20.3&label=Luke-Jr
        pre.fragment
            | bitcoin:175tWpb8K1S7NmH4Zx6rewF9WQrcZv245W?message=Donation%20for%20project%20xyz
    section
        h2 QRCode
        p.fragment Isso bitcoin:175tWpb8K1S7NmH4Zx6rewF9WQrcZv245W
        p.fragment Vira isso:
    section(data-background-image='img/qrcode.png' data-background-size='auto 50%')