section
    section(data-background-image='img/bitcoin-sketch.gif')
        h1.black Bitcoin Developer
        h2.black.fragment para iniciantes
    section
        h2.fragment Who am I?
        h3.fragment Fernando Guisso
        p.fragment Desenvolvedor Jr. da Pague.nu, freelance e estudante de TI
        p.fragment Redes sociais
    section
        h2.fragment Things we need to now!
        ul
            li.fragment Testnet 3
            li.fragment Explorando o Blockchain
            li.fragment Criando uma wallet
            li.fragment Gerando endereços
            li.fragment URI
            li.fragment API's e ferramentas
            li.fragment Altcoins
    section(data-background-image='img/kel.gif')