section
    section
        h1 Testnet 3
        p é uma alternativa ao block chain Bitcoin. Isso permite que desenvolvedores e bitcoin testers experimentem, sem tem que usar bitcoins reais ou se preocupar em quebrar a cadeia principal do Bitcoin.
    section
        h1 Why 3 ?!?!
        p Em resumo: A Testnet foi usada como Trade, o que dificultou a utilizanção para testes. A Testnet 2 entrou com um novo genesis block. Por fim a Testnet 3 chegou resolvendo alguns problemas e com novas features, em cima de um terceiro genesis block.
    section
        h1 Principais Diferenças
        ul
            li.fragment Protocolo de rede e RPC em outra porta. (18333 e 18332)
            li.fragment ADRESSVERSION diferente para não funcionar na mainnet. (0X6F ao inves de 0X00)
            li.fragment Dificuldade de mineirar blocos na mainnet é metade da dificuldade na tesnet.
    section
        h1 Links
        ul
            li.fragment
                a(href='http://testnetwallet.com/') Testnet Wallet by Blocktrail
            li.fragment
                a(href='http://tpfaucet.appspot.com/') TP's Tesnet Faucets
            li.fragment
                a(href='http://bitcoinfaucet.uo1.net/') UO1 Faucets