section
    section(data-background-image='img/btc-network.gif' data-background-size='auto 100%' data-notes='Falar sobre a semelhança do torrent, cada um doa um pedaço e você tem o todo.')
    section(data-notes='getinfo: pega o index do ultimo bloco; getblockhash: pega a hash com index; getblock')
        h1 Explorando o Blockchain
        p Explorar o Blockchain, simplesmente é consultar os blocos para saber informações guardadas nele.
        p.fragment Cada bloco tem essas informações:
        ul
            li.fragment Uma lista de transações
            li.fragment Hash para o bloco anterior
            li.fragment Tamanho do bloco
            li.fragment Contagem de transações
            li.fragment Block Header
    section(data-notes='pegar o txid da minha wallet, buscar seu blockhash e encontra-la na lista de txs')
        h2 Online
        ul
            li.fragment
                a(href='https://live.blockcypher.com/') Block Cypher
            li.fragment
                a(href='https://www.blocktrail.com/BTC') Blocktrail
            li.fragment
                a(href='https://blockchain.info/') Blockchain.info
            li.fragment
                a(href='http://blockr.io/') Blockr