section
    section(data-background-image='img/bitcoin-sketch.gif')
    section
        h1.fragment Bitcoin Developer
        h2.fragment para iniciantes
    section
        h3.fragment Who am I?
        h2.fragment.blue Fernando Guisso
        p.fragment Desenvolvedor Jr. da Pague.nu
        p.fragment freelance, estudante de TI e eletrônica
        p.fragment.blue fguisso@gmail.com
    section
        h2.fragment Things we need to now!
        ul.list
            li.fragment Testnet 3
            li.fragment Explorando o Blockchain
            li.fragment Consultando e criando endereços
            li.fragment Spent e Unspent
            li.fragment URI e QRCode
            li.fragment API's e ferramentas
    section(data-background-image='img/kel.gif' data-background-size='auto 100%')