head
    meta(charset="UTF-8")
    title Fernando Guisso - Bitcoin Developer: para iniciantes!
    meta(name="description" content="Palestra apresentada na Bitconf 2016 sobre desenvolvimento com Bitcoin e Blockchain")
    meta(name="author" content="FernandoGuisso")
    meta(property="og:type" content="website")
    meta(property="og:image" content="")
    meta(property="og:description" content="Palestra apresentada na Bitconf 2016 sobre desenvolvimento com Bitcoin e Blockchain")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/main.css")
